.page {
    background-color: #FAFAF5; // offWhite
    color: #333333;
    font-family: 'Nunito', sans-serif;
  }
  
// HERO
.hero {
  background-color: #F4EBD0; // sand
  padding: 4rem 1rem;
  text-align: center;
  color: #6a936a;

  .container {
    max-width: 768px;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.875rem;
      color: #4B5563; // gris doux
    }
  }
}
  
  // VALEURS
  .values {
    padding: 2rem 1rem;
  }
  
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .engagement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }
  
    .emoji {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
  
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  
    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      color: #A8C3A0;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 0.875rem;
      color: #4B5563;
    }
  }
  