.card {
  width: 100%;
  max-width: 200px;
  max-height: 350px; 
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fdfdfb;
  box-shadow: 0 4px 12px rgba(60, 60, 60, 0.10);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(60, 60, 60, 0.1);
  }
}

.image {
  height: 200px; // correspond à l'image transformée
  flex-shrink: 0;
  background-color: #FAFAF5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    display: block;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: white;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #475645;
  text-align: center;
  line-height: 1.4;
  word-break: break-word;
}

.badge {
  display: inline-block;
  background-color: #c97f63;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  margin: 0.4rem auto 0;
}

.priceRow {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.8rem 0;
}

.oldPrice {
  text-decoration: line-through;
  color: #999;
  font-size: 0.95rem;
}

.price {
  font-weight: bold;
  font-size: 1.15rem;
  color: #4c6f52;
}

.noPromoPrice {
  text-align: center;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 1.15rem;
  color: #4c6f52;
}

.button {
  align-self: center;
  margin-bottom: 0.4rem;
  padding: 0.4rem 1.4rem;
  background-color: #b6d2b0;
  color: #2e3e2d;
  border-radius: 999px;
  font-size: 0.7rem;
  font-weight: 700;
  transition: background 0.3s ease;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #9ebf98;
  }
}

// Responsive
@media (max-width: 600px) {
  .card {
    height: 520px;
  }

  .title {
    font-size: 1rem;
  }

  .price,
  .noPromoPrice {
    font-size: 1rem;
  }

  .button {
    font-size: 0.85rem;
    padding: 0.4rem 1rem;
  }
}
